.link{
  list-style: none;
  display: flex;
  padding-left: 450px;
  padding-top: 10px;
  text-decoration: none;
}

.link-item{
  font-family: 'source code pro';
  margin: 0px 10px;
  /* border: 1px solid black; */
  padding: 5px;
  text-align: center;
  width: 100px;
}

.card{
  width: 550px;
  margin-left: 250px;
}

.todo-center{
  text-align: center;
  font-family: 'source code pro';
  font-weight: 500;
}

.todo-form{
  display: flex;
  margin:10px 200px;
}

.todo-btn{
  margin: 0px 10px;
  width: 100px;
  font-family: 'source code pro';
  font-weight: bolder;
  font-size: 18px;
}

.todo-input{
  font-family: 'source code pro';
  font-size: 16px;
  font-weight: 300px;
}

.active{
  background-color: grey;
  border-color: rgb(67, 143, 120);
  color: rgb(0, 0, 0);
}